/* 폰트 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html>body {
  font-family: 'Pretendard-Regular';
  font-size: 15px;
  color: #333333;
}

/* 커스텀 */
.wrapper {
  height: 100vh;
}

input {
  border-width: 1px;
}

body label {
  font-weight: 500;
}

/* 로그인 상단 */
.WrapperScreen>form {
  width: 430px;
}

.btn {
  color: white;
  background-color: #ff9995;
}

.btn:hover {
  color: white;
  background-color: #f14c46;
}

.btn>span {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

/* social_box */
.hr {
  height: 1px;
  background-color: #cdcdcd;
  width: 100%;
}

.social_box .particle {
  padding: 20px;
}

.social_box .particle .social_box_img {
  left: 0;
  width: 100px;
  display: flex;
  justify-content: center;
  color: #ff9995;
}

.social_box .particle .img-1 {
  color: darkblue;
}

.social_box .particle .img-2 {
  color: black;
  font-weight: 600;
}

.social_box .text-box {
  color: #afafaf;
}

.social_box .particle:hover .text-box {
  color: black;
  font-weight: 500;
}