<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상세 정보</title>

  <!-- 제이쿼리 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- 스와이퍼 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- 테일윈드 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
    referrerpolicy="no-referrer" />

  <!-- 폰트어썸 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- local -->
  <link rel="stylesheet" href="/static/css/specific_info.css" />
  <script src="/static/js/specific_info.js" defer></script>
</head>

<body>

  <!-- 탑메뉴 -->
  <header class="con-min-width top-bar">
    <div class="con mx-auto flex h-full gap-7 px-2">
      <a href="/templates/index.html" class="top-bar__logo-1 flex items-center">
        <span class="text-xl font-bold"> PetShop </span>
      </a>
      <form class="search small-search-bar flex gap-3 ml-4">
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <input type="text" name="search" placeholder="검색어를 입력하세요" />
      </form>
      <div class="flex-grow"></div>
      <nav class="top-bar__menu-1">
        <ul class="flex h-full">
          <li>
            <a href="/templates/product_list/brand/brand.html" class="flex h-full items-center">브랜드</a>
            <div class="con-min-width">
              <div class="con mx-auto">
                <ul class="flex">
                  <li class="flex-1">
                    <a href="/templates/product_list/brand/brand.html">시니멀</a>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/brand/brand.html">브리지테일</a>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/brand/brand.html">반려소반</a>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/brand/brand.html">뉴트리알엑스</a>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/brand/brand.html">네이처알로</a>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/brand/brand.html">더보양</a>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/brand/brand.html">네이처스독</a>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/brand/brand.html">슈퍼포우</a>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/brand/brand.html">캣츠모리</a>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/brand/brand.html">이지너프</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="/templates/product_list/dog/dog.html" class="flex h-full items-center">강아지</a>
            <div class="con-min-width">
              <div class="con mx-auto">
                <ul class="flex">
                  <li class="flex-1">
                    <a href="/templates/product_list/dog/dog.html">사료</a>
                    <ul>
                      <li><a href="/templates/product_list/dog/dog.html">소프트사료</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">건사료</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">습식사료</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">화식/자연식</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">동결건조</a></li>
                    </ul>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/dog/dog.html">간식</a>
                    <ul>
                      <li><a href="/templates/product_list/dog/dog.html">수제간식</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">트릿/저킷/소시지</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">덴탈껌</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">캔/파우치/레토르트</a></li>
                    </ul>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/dog/dog.html">영양제</a>
                    <ul>
                      <li><a href="/templates/product_list/dog/dog.html">일반 영양제</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">유산균</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">오메가3</a></li>
                    </ul>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/dog/dog.html">일반용품</a>
                    <ul>
                      <li><a href="/templates/product_list/dog/dog.html">위생용품</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">배변용품</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">산책용품</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">식사용품</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">장난감</a></li>
                      <li><a href="/templates/product_list/dog/dog.html">의약외품</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="/templates/product_list/cat/cat.html" class="flex h-full items-center">고양이</a>
            <div class="con-min-width">
              <div class="con mx-auto">
                <ul class="flex">
                  <li class="flex-1">
                    <a href="/templates/product_list/cat/cat.html">사료</a>
                    <ul>
                      <li><a href="/templates/product_list/cat/cat.html">소프트사료</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">건사료</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">습식사료</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">화식/자연식</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">동결건조</a></li>
                    </ul>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/cat/cat.html">간식</a>
                    <ul>
                      <li><a href="/templates/product_list/cat/cat.html">수제간식</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">트릿/저킷/소시지</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">덴탈껌</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">캔/파우치/레토르트</a></li>
                    </ul>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/cat/cat.html">영양제</a>
                    <ul>
                      <li><a href="/templates/product_list/cat/cat.html">일반 영양제</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">유산균</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">오메가3</a></li>
                    </ul>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/product_list/cat/cat.html">일반용품</a>
                    <ul>
                      <li><a href="/templates/product_list/cat/cat.html">위생용품</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">배변용품</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">산책용품</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">식사용품</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">장난감</a></li>
                      <li><a href="/templates/product_list/cat/cat.html">의약외품</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#" class="flex h-full items-center">고객센터</a>
            <div class="con-min-width">
              <div class="con mx-auto">
                <ul class="flex">
                  <li class="flex-1">
                    <a href="/templates/notice/notice.html">공지사항</a>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/asked_questions.html">자주묻는 질문</a>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/inquiry/inquiry.html">1:1 문의</a>
                  </li>
                  <li class="flex-1">
                    <a href="/templates/location.html">위치 정보</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <ul class="flex top-bar__menu-2 h-full items-center">
        <li>
          <a href="#"><span><i class="fa-solid fa-basket-shopping"></i></span></a>
        </li>
        <li class="top-bar__menu-2__bar mx-3"></li>
        <li>
          <a href="/templates/login.html"><span>로그인</span></a>
        </li>
        <li class="top-bar__menu-2__bar mx-3"></li>
        <li>
          <a href="/templates/signup.html"><span>가입하기</span></a>
        </li>
      </ul>
    </div>
  </header>

  <!-- 상세정보 -->
  <section class="con-min-width">
    <div class="con mx-auto">
      <div class="specific_box">
        <div class="top_section flex gap-4">
          <div class="img_box flex-1">
            <img
              src="https://images.pexels.com/photos/1619690/pexels-photo-1619690.jpeg?auto=compress&cs=tinysrgb&w=1600"
              alt="">
          </div>
          <div class="text_box flex-1 p-8 pt-0">
            <div class="fix_area">
              <div class="product_name">개껌 10g + 말랑간식 3개</div>
              <div class="inner">
                <div class="inner-box">
                  <div class="left_area" style="margin-top:20px;">
                    <div class="price price2">
                      <div class="price-box flex justify-between items-end">
                        <div class="wrap_1 flex flex-col">
                          <span class="p1 self-start">30,000<em>원</em></span>
                          <div class="to-discount">
                            총 <span> 10,000<em>원 </em></span> 할인
                          </div>
                        </div>
                        <div class="wrap_2">
                          <span class="p2">33%</span>
                          <span class="p3">20,000<em>원</em></span>
                        </div>
                      </div>
                    </div>
                    <div class="coupon-if-wrap">
                      <div class="coupon-if-wrap-head">
                        <div class="coupon-if-wrap-head1">
                          할인 정보
                        </div>
                        <div class="coupon-if-wrap-head2 flex items-center" style="cursor:pointer;"
                          onclick="usecpn.toggleshow();">
                          <span id="usecpnper" data-disper="33">33</span>%
                          <span style="font-size:17px; margin-left:5px;" id="usecpnacc" data-account="30000"
                            data-faccount="20000">20,000</span>원
                          <span> <img class="toggleShowImg"
                              src="https://atimg.sonyunara.com/attrangs/maxdisc/pc_arrow.png" alt="arrow"
                              style="vertical-align: 3px; margin-left: 3px; transform: rotate(0deg);"></span>
                        </div>
                      </div>
                      <div class="coupon-if-content" style="display: block; border-top: 1px solid rgb(233, 233, 233);">
                        <div class="coupon-if-wrap-list">
                          <div class="htxt">상품할인</div>
                          <div class="mtxt mtxtbld">
                            <input type="checkbox" class="chkimg" disabled="">
                            기본할인 28%
                          </div>
                          <div class="ltxt mtxtbld">-33,000원</div>
                        </div>
                        <div class="coupon-if-wrap-list">
                          <div class="htxt">보유 적립금</div>
                          <div class="mtxt chnfontweight">
                            <input type="checkbox" class="chkimg check" data-discount="1000"
                              onchange="usecpn.chncpn(this)" id="usemempointslabel">
                            <label for="usemempointslabel">
                              보유한 적립금
                            </label>
                          </div>
                          <div class="ltxt chnfontweight"><span class="havepnt"
                              style="font-weight:inherit">1,000</span>원
                          </div>
                        </div>
                      </div>
                    </div>
                    <div style="border-top: 1px solid #e9e9e9; margin-bottom:10px;"></div>
                    <table class="list">
                      <colgroup>
                        <col style="width: 100px;">
                        <col>
                      </colgroup>
                      <tbody>
                        <tr class="bef">
                          <th scope="row">적립혜택</th>
                          <td>
                            <div class="benefit">
                              <div>
                                <span>
                                  1% 적립
                                </span>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" height="10"></td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="padding-top:10px; border-top: 1px solid #e9e9e9;"></div>
                    <table class="list">
                      <colgroup>
                        <col style="width: 100px;">
                        <col>
                      </colgroup>
                      <tbody>
                        <tr class="bef">
                          <th scope="row">배송구분</th>
                          <td>
                            <div class="benefit">
                              <div class="flex gap-4">
                                <span>3,500원</span>
                                <span>
                                  ( 8만원이상 구매시
                                  <span
                                    style="color:#9265ee; font-style: oblique; font-weight:600; font-size:14px;">무료배송</span>
                                  )
                                </span>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr class="bef">
                          <th scope="row">배송예상</th>
                          <td style="vertical-align: bottom; " ;="">
                            <div class="todayDelivery">
                              <p>오후 9시 이전 주문 시 <span> 08월 19일 토요일</span> 도착 예정 </p>
                              </a>
                            </div>
                          </td>
                        </tr>
                        <tr class="bef">
                          <th scope="row">브랜드</th>
                          <td>
                            <div class="benefit">
                              <div>
                                <span>
                                  시니멀
                                </span>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" height="10"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div style="border-top: 1px solid #e9e9e9;"></div>

                  <!-- 선택폼 -->
                  <div class="product_select_box">

                    <div class="title">옵션 선택란</div>

                    <form id="product-form" class="flex flex-col">

                      <label for="product-select" class="rs">* 필수 선택 *</label>
                      <select id="product-select">
                        <option value="" selected disabled>상품 선택</option>
                        <option value="20000">
                          <span>개껌 10g + 말랑간식 3개</span>
                        </option>
                      </select>
                      <label for="quantity-input" class="quantity_title mt-6">수량</label>
                      <input type="number" id="quantity-input" value="1" min="1">

                      <!-- 적립금 관련 요소 -->
                      <div class="loyalty-points flex justify-between">
                        <div style="user-select: none;" class="flex items-center gap-1">
                          <input type="checkbox" id="loyalty-points-checkbox">
                          <label for="loyalty-points-checkbox">적립금 사용</label>
                        </div>
                        <span id="loyalty-points-balance">보유 적립금 : <span>1000</span>원</span>
                      </div>

                    </form>

                    <div class="product_select_function flex flex-col gap-8">
                      <div class="flex gap-4">
                        <button id="add-to-cart" class="flex-1">장바구니</button>
                        <button id="purchase-button" class="flex-1">구매하기</button>
                      </div>
                      <div class="flex justify-between items-center total-price">
                        <div>총금액</div>
                        <div id="total-price">
                          0원
                        </div>
                      </div>
                    </div>

                    <div id="cart" class="hidden">
                      <h2>장바구니</h2>
                      <ul id="cart-items"></ul>
                      <div id="cart-total">장바구니 총 가격: 0원</div>
                      <button id="purchase-cart-button">장바구니 구매하기</button>
                    </div>

                  </div>
                  <!-- 선택폼 끝-->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom_section">

    </div>
    </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bottom-bar-1 mt-32">
    <hr class="mb-20">
    <div class="con mx-auto px-3">
      <div class="flex gap-4 gap-20">
        <div>
          <span class="font-bold text-lg">
            Pet
            <br>
            Shop
          </span>
        </div>
        <div class="flex-grow"></div>
        <div>
          <h1 class="font-bold mb-2">PetShop</h1>
          <a class="petshop_introduce text-sm text-gray-500" href="#">PetShop 소개</a>
        </div>
        <div>
          <h1 class="font-bold">Community</h1>
          <ul class="text-sm mt-2 community">
            <li class="text-gray-500">
              <a href="#">
                <span><i class="fab fa-facebook"></i></span>
                <span>Facebook</span>
              </a>
            </li>
            <li class="mt-1 text-gray-500">
              <a href="#">
                <span><i class="fab fa-instagram"></i></span>
                <span>Instagram</span>
              </a>
            </li>
            <li class="mt-1 text-gray-500">
              <a href="#">
                <span><i class="fab fa-youtube"></i></span>
                <span>Youtube</span>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h1 class="font-bold">Help Center</h1>
          <div class="mt-2">
            <a class="question_btn flex justify-center py-3 px-26 items-center rounded-lg border border-gray-500 w-full"
              href="/templates/inquiry/inquiry_form.html">1:1 문의하기
            </a>
          </div>
          <div class="text-sm mt-2 text-gray-500">전화상담 | 010-7584-7734</div>
          <div class="text-sm mt-2 text-gray-500">상담시간 | 11:00 - 19:00 (주말, 공휴일 제외)</div>
          <div class="text-sm mt-2">
            <span class="text-gray-500">궁금한 것이 있으신가요?</span>
            <a href="/templates/asked_questions.html" class="question_important font-bold">자주 묻는 질문</a>
          </div>
          <div class="text-xs mt-2 text-yellow-450"><span class="font-bold">🦁</span> 1:1 문의 시 더 빠른 답변을 받으실 수 있습니다.
          </div>
        </div>
      </div>

      <div class="flex flex-col px-3 bottom_info">
        <div class="flex items-center space-x-2 text-xs">
          <a href="" class="text-gray-500">이용약관</a>
          <span class="w-1 h-1 rounded-full bg-gray-500"></span>
          <a href="" class="text-gray-500">개인정보처리방침</a>
          <span class="w-1 h-1 rounded-full bg-gray-500"></span>
          <a href="" class="text-gray-500">환불규정</a>
        </div>
        <div class="flex mt-2">
          <div class="bar text-xs text-gray-500 mr-2">
            <span>Pet Shop</span>
            <span>CEO leehong Kim</span>
            <span>klh1523@naver.com</span>
          </div>
          <div class="flex text-xs mt-2 text-gray-500 lg:space-x-2 lg:mt-0">
            <span>사업자 번호 : 264-88-011116</span>
            <span>통신판매업 신고번호 : 2019 - 서울강남 - 00774</span>
            <span>주소 : 대전 중구 사정동 376-9</span>
          </div>
        </div>
      </div>
  </footer>

</body>

</html>